<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icon.png" type="image/png" />
    <title>AeroAura-Weather App- About</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet" />
  </head>
  <body id="main">
    <div class="search-form nav">
      <a href="/">Home</a>
    </div>
    <section class="card about-card">
      <h1 class="app-title">About AeroAura</h1>

      <h2 class="find about">
        AeroAura 🌤️ is a user-friendly weather app designed to bring you accurate and up-to-date weather information at your fingertips. Built with modern web technologies like
        <span class="stack">Express</span>, <span class="stack">Axios</span>, and <span class="stack">EJS</span>, AeroAura offers seamless navigation and an intuitive interface best experienced on
        large screens (1280px and above)..
      </h2>
      <p>With AeroAura, you can:</p>

      <h3>Check Hourly Forecasts: <span>Get a detailed, hour-by-hour view of the weather to plan your day effectively.</span></h3>

      <h3>View 3-Day Forecasts: <span>Look ahead and prepare for the upcoming days with our three-day weather outlook.</span></h3>

      <h3>Search Locations Worldwide: <span>Whether you're checking the weather in your local area or halfway across the globe, AeroAura provides reliable forecasts for any location.</span></h3>
    </section>
  </body>
</html>
