<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" href="/android-chrome-192x192.png" type="image/jpeg" />
    <meta name="description" content="A simple weather app" />
    <title>AeroAura-Weather App</title>
  </head>
  <body id="main">
    <section class="card">
      <h1 class="app-title">AeroAura Weather App</h1>
      <img src="/assets/perfect-day.svg" alt="perfect-day" class="perfect-day" />

      <h2 class="find">Find Weather of your city</h2>
      <form action="/search/" method="post">
        <input type="text" name="search" placeholder="Search any City " />
        <button class="search" type="submit"><img src="/assets/search.svg" alt="search" class="search" /></button>
      </form>
    </section>
  </body>
</html>
